{% extends 'base.html' %}
{% load i18n %}

{% block title %}Login{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12 l12">
            <form method="post" class="col l12 login">
                {% csrf_token %}
                <div class="row col l12 z-depth-1">
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        {{ form.username }}
                        <label for="username">{% trans 'Usuario' %}</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        {{ form.password }}
                        <label for="password">{% trans 'Contraseña' %}</label>
                    </div>
                    <div class="col l6">
                        <input type="checkbox" id="remember">
                        <label for="remember">{% trans 'Recuérdame' %}</label>
                    </div>
                    <div class="right">
                        <button class="btn waves-effect" type="submit">
                            {% trans 'Entrar' %}
                            <i class="fa fa-sign-in right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}