{% load i18n %}
<p><strong>{% trans 'Políticas de publicación en la red social' %}:</strong></p>
<ul>
    <li>{% trans 'Todo usuario debe subir una foto al perfil, preferentemente de carácter personal.(No pueden ser sin camisa).' %}</li>
    <li>{% trans 'No se pueden poner imágenes o avatares pornográficos.' %}</li>
    <li>{% trans 'Todo usuario debe llenar su perfil con la mayor cantidad de datos posible, preferentemente su ubicación.' %}</li>
    <li>{% trans 'Ser cuidadoso para lograr un uso correcto de la lengua materna y/o extranjera empleada en la redacción de los mensajes.' %}</li>
    <li>{% trans 'Es prohibido los mensajes, blogs, páginas, archivos e imágenes con contenidos obscenos, eróticos y no acordes con los principios éticos y morales.' %}</li>
    <li>{% trans 'Los Grupos deben tener más de 3 usuarios para que estén activos.' %}</li>
    <li>{% trans 'Están prohibido los contenidos con carácter contrarrevolucionarios.' %}</li>
    <li>{% trans 'Está prohibido utilizar la red para actividades económicas.' %}</li>
    <li>{% trans 'No caer en faltas de respeto entre los usuarios de la red.' %}</li>
    <li>{% trans 'Los Administradores se reservan el derecho a eliminar todo contenido que no cumpla con las normas del sitio.' %}</li>
    <li>{% trans 'El desconocimiento de las reglas no exime de responsabilidad.' %}</li>
</ul>