<p><strong>Pol&iacute;ticas de publicaci&oacute;n en la red social:</strong></p>
<ul>
    <li>Todo usuario debe subir una foto al perfil, preferentemente de car&aacute;cter personal.(No pueden ser sin camisa).</li>
    <li>No se pueden poner imágenes o avatares pornográficos.</li>
    <li>Todo usuario debe llenar su perfil con la mayor cantidad de datos posible, preferentemente su ubicación.</li>
    <li>Ser cuidadoso para lograr un uso correcto de la lengua materna y/o extranjera empleada en la redacción de los mensajes.</li>
    <li>Es prohibido los mensajes, blogs, páginas, archivos e imágenes con contenidos obscenos, eróticos y no acordes con los principios éticos y morales.</li>
    <li>Los Grupos deben tener más de 3 usuarios para que estén activos.</li>
    <li>Están prohibido los contenidos con carácter contrarrevolucionarios.</li>
    <li>Está prohibido utilizar la red para actividades económicas.</li>
    <li>No caer en faltas de respeto entre los usuarios de la red.</li>
    <li>Los Administradores se reservan el derecho a eliminar todo contenido que no cumpla con las normas del sitio.</li>
    <li>El desconocimiento de las reglas no exime de responsabilidad.</li>
</ul>