<!DOCTYPE html>
<html lang="es">
<head>
    {% load staticfiles %}
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Social Network of University of Holguin">
    <title>The Wall - {% block title %}{% endblock %}</title>
    {#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
    {#    <link rel="stylesheet" href="{% static 'css/material.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/icon.css' %}">
    <link rel="stylesheet" href="{% static 'css/roboto.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
<!--pie de la pagina-->
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6">
                <h5 class="white-text">¿Qué es The Wall?</h5>
                <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias
                    aperiam assumenda consectetur, dicta earum eius fuga ipsum natus nihil, non obcaecati officiis
                    perspiciatis praesentium quod sed suscipit temporibus ullam?</p>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &COPY; 2015 - 2016. Creado por Ragnarok. Todos los derechos reservados.
            <a href="#terms-modal" class="white-text text-lighten-3 waves-effect waves-light modal-trigger" id="terms">
                Términos
            </a> |
            <a href="#about-modal" class="white-text text-lighten-3 waves-effect waves-light modal-trigger" id="about">
                Acerca de
            </a> |
            <a href="#privacy-modal" class="white-text text-lighten-3 waves-effect waves-light modal-trigger" id="privacy">
                Privacidad
            </a>
        </div>
    </div>
</footer>
<!--fin del pie de la pagina-->

<!--terminos de la pagina-->
<div id="terms-modal" class="modal">
    <div class="modal-content ligth-dark">
        <div class="modal-header">
            <h4 class="modal-title">Términos</h4>
        </div>
        <div class="modal-body">
            <div class="center-align" id="spinner-terms">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>
                </div>
                {#                <i class="fa fa-spinner fa-spin fa-5x" id="spinner-terms"></i>#}
            </div>
            <div id="terms-content">
                {#                        contenido de los terminos#}
            </div>
        </div>
        <div class="modal-footer">
            <div class="text-left">
                <footer><strong>Grupo de desarrollo The Wall</strong></footer>
            </div>
            <a class="modal-action modal-close waves-effect waves-green btn btn-flat">Cerrar</a>
        </div>
    </div>
</div>
<!--fin de los terminos-->

<!--privacidad de la pagina-->
<div id="privacy-modal" class="modal">
    <div class="modal-content ligth-dark">
        <div class="modal-header">
            <h4 class="modal-title">Privacidad</h4>
        </div>
        <div class="modal-body">
            <div class="center-align" id="spinner-privacy">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>
                </div>
                {#                <i class="fa fa-spinner fa-spin fa-5x" id="spinner-privacy"></i>#}
            </div>
            <div id="privacy-content">
                {#                        contenido de la privacidad#}
            </div>
        </div>
        <div class="modal-footer">
            <div class="text-left">
                <footer><strong>Grupo de desarrollo The Wall</strong></footer>
            </div>
            <a class="modal-action modal-close waves-effect waves-green btn btn-flat">Cerrar</a>        </div>
    </div>
</div>
<!--fin de la privacidad-->

<!--acerca de la pagina-->
<div id="about-modal" class="modal">
    <div class="modal-content ligth-dark">
        <div class="modal-header">
            <h4 class="modal-title">Acerca de</h4>
        </div>
        <div class="modal-body">
            <div class="center-align" id="spinner-about">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>
                </div>
                {#                <i class="fa fa-spinner fa-spin fa-5x" id="spinner-about"></i>#}
            </div>
            <div id="about-content">
                {#                        contenido del about#}
            </div>
        </div>
        <div class="modal-footer">
            <div class="text-left">
                <footer><strong>Grupo de desarrollo The Wall</strong></footer>
            </div>
            <a class="modal-action modal-close waves-effect waves-green btn btn-flat">Cerrar</a>
        </div>
    </div>
</div>
<!--fin del acerca de-->
<script src="{% static 'js/jquery-2.0.1.min.js' %}"></script>
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
{#<script src="{% static 'js/material.min.js' %}"></script>#}
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/toastr.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{#<script>#}
{#    $.material.init();#}
{#    $('[data-toggle="tooltip"]').tooltip();#}
{#    $('[data-toggle="popover"]').popover();#}
{#</script>#}
{% block script %}{% endblock %}
</body>
</html>